@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  height: 105px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    margin-bottom: 10px;
  }
  &__list {
    display: inline-flex;
    align-items: center;
  }
  &__logo {
    height: 34px;
    width: 115px;
  }
  &__menu-links {
    margin-left: 55px;
    margin-right: 55px;
    text-decoration: none;
    font-size: 14px;
    color: $titleColor;
  }
  &__button {
    width: 102px;
    height: 40px;
    color: $titleColor;
    border: 1px solid $titleColor;
    font-size: 17px;
    border-radius: 7px;
    background-color: transparent;
  }
}

.container-fluid {
  width: 100%;
  &::after {
    content: "";
    background-image: url(../images/top-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    z-index: -15;
  }
}
.top {
  max-height: 764px;

  &__inner {
    display: flex;
  }

  &__info {
    min-width: 545px;
    margin-top: 100px;
  }
  &__info-destinations {
    color: #df6951;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700px;
    font-family: "Poppins, sans-serif";
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__info-title {
    @extend %title-font;
    font-size: 84px;
    line-height: 89px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 73px;
      right: -75px;
      background-image: url(../images/Decore.jpg);
      height: 12px;
      width: 385px;
      z-index: -5;
    }
  }

  &__text {
    color: $defaultColor;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
  }
  &__info-buttons {
    align-items: center;
    display: flex;
    margin-top: 34px;
    span {
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
      color: #686d77;
    }
  }
  &__info-button {
    padding: 19px 26px 18px 27px;
    background: #f1a501;
    color: #ffffff;
    width: 170px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  &__info-button-play {
    background-color: #df6951;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
    cursor: pointer;
  }
}
.category {
  &__inner {
    text-align: center;
    max-height: 530px;
  
  }

  &__items {
    display: flex;
  }
  &__info {
    margin: 116px 0 66px 0;
  }
  &__info-text {
    color: #5e6282;
    font-weight: 600;
    font-size: 18px;
    font-family: "Poppins";
  }
  &__info-title {
    @extend %title-font;
    font-size: 50px;
    line-height: 65px;
  }
  &__item-img {
    width: 92px;
    height: 78px;
    margin: 0 auto;
  }
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    max-width: 220px;

    padding: 10px;

    &:hover {
      width: 270px;

      box-shadow: 0px 1px 2px #000;
      border-radius: 36px;
      background: #ffffff;
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
  }
  &__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-family: "Poppins";
  }
  .red-decor {
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/Rectangle\ 157.png);
      position: absolute;
      width: 100px;
      height: 100px;
      left: -55px;
      bottom: -40px;
      z-index: -5;
    }
  }
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__logo-block {
    max-width: 207px;
  }
  &__logo-block-img {
    margin-bottom: 20px;
  }
  &__logo-block-text {
    color: $defaultColor;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-family: "Poppins";
  }
  &__menu-block {
    display: flex;
    justify-content: space-between;
  }
  &__menu-list {
    margin-left: 100px;
  }
  &__menu-link {
    margin-bottom: 15px;
    color: $defaultColor;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins";
  }
  &__menu-main-link {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    font-family: "Poppins";
    color: #080809;
    margin-bottom: 33px;
  }

  .footer__copyright {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.social {
  &__images {
    display: flex;
  }
  &__button {
    border: none;
    background-color: transparent;
  }
  &__text {
    color: $defaultColor;
    margin: 15px 0 16px 5px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.5%;
    font-weight: 500;
    font-family: "Poppins";
  }
}
.destination{
    &__inner{
        min-height: 617px;
    }
    &__info-text{
        color: $defaultColor;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins';
        line-height: 27px;
        margin: 123px 0 8px 0;
    }
    &__info-title{
        @extend %title-font;
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 60px;

    }
    &__info{
        text-align: center;
    }

    &__items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item{
        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;
        height: 457px;
        max-width: 314px;
        border-radius: 15px;
        box-shadow: 0px 0px 2px silver;
      
        margin-left: 40px;
    }
    &__item-london{
        background-image: url(../images/destination/London.png);
    }
    &__item-rome{
        background-image: url(../images/destination/Rome.png);
        margin-left: 0;
    }
    &__item-europe{
        background-image: url(../images/destination/Europe.png);
        position: relative;
        &::after{
            content:'';
            background-image: url(../images/destination/Decore\ \(8\).png);
            position: absolute;
            right: -250px;
            top: 150px;
            width: 100%;
            height: 100%;
            z-index: -5;
            background-repeat: no-repeat;
        }
    }
    &__item-text{
        height: 130px;
        background: #fff;
        padding: 28px 10px 42px 10px;
        
    }
  
    &__item-price{
        margin-left: 150px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    &__item-country{
        
        padding-bottom: 18px;
    }
    &__item-time{
        margin: 15px 0 0 25px;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            background-image: url(../images/destination/navigation\ 1.png);
            height: 20px;
            width: 20px;
            left: -27px;
            bottom: 1px;
            
        }
    }
   
}
